@font-face {
  font-family: ExtLight;
  src: url(../fonts/RFDewiExtended-Light.ttf);
}

@font-face {
  font-family: ExpBlack;
  src: url(../fonts/RFDewiExpanded-Black.ttf);
}
@font-face {
  font-family: ExtBlack;
  src: url(../fonts/RFDewiExtended-Black.ttf);
}

@font-face {
  font-family: ExpUltraBold;
  src: url(../fonts/RFDewiExpanded-Ultrabold.ttf);
}

@font-face {
  font-family: ExtRegular;
  src: url(../fonts/RFDewiExtended-Regular.ttf);
}

@font-face {
  font-family: ExtUltraBold;
  src: url(../fonts/RFDewiExtended-Ultrabold.ttf);
}

@font-face {
  font-family: ExtBold;
  src: url(../fonts/RFDewiExtended-Bold.ttf);
}

@font-face {
  font-family: ExtSemiBold;
  src: url(../fonts/RFDewiExtended-Semibold.ttf);
}

* {
  margin: 0;
  padding: 0;
  user-select: none;
  p{
    margin-bottom: 0;
  }
}

h2 {
  font-family: ExpBlack;
  font-size: 31px;
  text-transform: uppercase;
}

header {
  font-family: ExtLight;
  height: 10vh;
  background-color: #121214;
  color: white;
  display: flex;
  justify-content: center;
}

#header-logo {
  width: 4.5vw;
  height: 3.5vh;
  background-size: cover;
  background-image: url(../images/logo.svg);
}

#header-items {
  width: 72%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header-btns {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;

  p {
    color: rgb(78, 78, 78);
    font-size: 75%;
  }
}

.dropdown:hover .dropdown-menu {
  display: block;
}

#header-profile-items {
  width: 17.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .header-profile-item {
    width: 1.75vh;
    height: 1.75vh;
    background-size: cover;
  }

  .header-profile-item:nth-child(1) {
    background-image: url(../images/lupa.svg);
  }

  .header-profile-item:nth-child(2) {
    background-image: url(../images/star.svg);
  }

  .header-profile-item:nth-child(3) {
    background-image: url(../images/user.svg);
  }

  .header-profile-item:nth-child(4) {
    background-image: url(../images/korzina.svg);
  }

  .header-profile-item:nth-child(5) {
    background-image: url(../images/userpfp.svg);
  }
}

/* main{
    display: flex;
    flex-direction: column;
    gap:10px;
} */

#panel {
  height: 77vh;
  display: flex;
  justify-content: center;
  align-items: center;

  #canvas {
    width: 81%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/man.png);
    background-size: cover;
    border-radius: 7px;

    #canvas-padding {
      width: 89%;
      height: 85%;
    }

    #inner-panel {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 40%;
      height: 100%;
    }

    #panel-text {
      padding-top: 50px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 20px;

      #panel-text-h1 {
        font-family: ExpBlack;
        font-size: 51px;
        text-transform: uppercase;
        line-height: 60px;
      }

      #panel-text-h2 {
        font-family: ExtRegular;
        font-size: 19px;
      }

      #panel-text-btn {
        display: flex;
        align-items: center;
        width: 46%;
        height: 66px;
        border-radius: 5px;
        background-color: #121214;
        color: white;
        font-family: ExpUltraBold;
        font-size: 12px;
        text-transform: uppercase;
        flex-direction: row;
        justify-content: space-evenly;
        align-content: stretch;
        flex-wrap: wrap;

        P {
          height: 5%;
        }
      }
    }
  }

  #arrows {
    width: 27.5%;
    display: flex;
    justify-content: space-between;

    div {
      width: 67px;
      height: 67px;
      border-radius: 100%;
      display: grid;
      place-content: center;
      font-size: 15px;
    }

    div:nth-child(1) {
      background-color: white;
    }

    div:nth-child(2) {
      background-color: #f0f2f6;
    }
  }
}

#items {
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding-top: 3%;
  padding-bottom: 3%;
}

.item-show-elem {
  display: flex;
  justify-content: center;

  >div {
    width: 72%;
  }
}

.item-show-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 25px;

  /* align-items: center; */
  span {
    height: 30px;
    display: flex;
    gap: 10px;
    font-family: ExtUltraBold;
    font-size: 14px;
    border-bottom: 2px black solid;
    text-transform: uppercase;
    align-items: center;
  }
}

.items-to-show {
  height: 369px;
  display: flex;
  justify-content: space-between;

  .item-card {
    width: 318px;
    display: flex;
    flex-direction: column;

    .star {
      align-self: flex-end;
      position: absolute;
      font-size: 32px;
    }

    .item-card-text {
      p:nth-child(1) {
        font-family: ExtBold;
        font-size: 19px;
      }

      p:nth-child(2) {
        font-family: ExtRegular;
        font-size: 14px;
      }
    }

    img {
      width: 318px;
      height: 318px;
    }
  }
}

.items-pagination {
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;

  >div {
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 140%;

    .dots {
      opacity: 0.7;
    }

    .dots :hover {
      opacity: 1;
      font-size: 150%;
    }

    div:first-child {
      opacity: 1;
    }

    div:last-child {
      opacity: 0.3;
    }
  }
}

.dropdown * {
  border-radius: 0px;
  border: none;
  font-family: ExtLight;
  font-size: 14px;
}

.dropdown button {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  color: white;
}

.dropdown ul {
  background: #121214;
  color: white;
}

.dropdown li :hover {
  background: #121214;
  color: white;
}

#panel-two {
  height: 77vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  #canvas-two {
    width: 81%;
    height: 88%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background: linear-gradient(to right,
        #0d99f8 0.94%,
        #21a0f8 5.36%,
        #54b5ff 27.35%,
        #0dbbf8 79%,
        #0ddbf8 97.53%);
    background-size: cover;
    border-radius: 7px;

    #canvas-padding {
      width: 89%;
      height: 85%;
      display: flex;
      align-items: center;
    }

    #inner-panel {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 95%;
    }

    #phone {
      width: 100%;
      height: 100%;
      display: grid;
      place-content: center;
    }

    #panel-text {
      padding-top: 50px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 20px;

      #panel-text-h1 {
        font-family: ExpBlack;
        font-size: 51px;
        text-transform: uppercase;
        line-height: 60px;
      }

      #panel-text-h2 {
        font-family: ExtRegular;
        font-size: 19px;
      }

      #panel-text-btn {
        display: flex;
        align-items: center;
        width: 40%;
        height: 66px;
        border-radius: 5px;
        background-color: #121214;
        color: white;
        font-family: ExpUltraBold;
        font-size: 12px;
        text-transform: uppercase;
        flex-direction: row;
        justify-content: space-evenly;
        align-content: stretch;
        flex-wrap: wrap;

        P {
          height: 5%;
        }
      }

      #panel-text-h3 {
        display: flex;
        justify-content: space-between;

        .panel-numbers {
          display: flex;
          gap: 20px;
          align-items: center;

          div:first-child {
            width: 77px;
            height: 77px;
            background-image: url(../images/circle.svg);
            background-size: cover;
            display: grid;
            place-content: center;
            font-family: ExtBold;
            font-size: 24px;
          }

          div:last-child {
            width: 70%;
            font-family: ExtSemiBold;
            font-size: 16px;
          }
        }
      }
    }
  }
}

#back-panel{
  position: relative;
  top: -325px;
  height: 650px;
}
#panel-Xwear {
  height: 895px;
  background: linear-gradient(to bottom, #f5f5f5, #ffffff, #f5f5f5);

  #bgXwear {
    width: 100%;
    height: 100%;
    background-image: url(../images/bgXwear.svg);
    display: flex;
    justify-content: center;

    #bgPadding {
      width: 72%;
      height: 85%;
      display: flex;
      align-items: end;
      justify-content: space-between;
      color: #121214;

      #info-text {
        width: 61%;
        display: flex;
        flex-direction: column;
        gap: 15px;
      }

      #info-panel {
        width: 29%;
        height: 52.5%;
      }

      #panel {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 107%;
        background-color: white;
        box-shadow: 0px 0px 25px rgb(209, 209, 209);
        border-radius: 5px;

        >div {
          height: 90%;
          width: 75%;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
        }
      }

      .info-panel-text {
        width: 104%;
        display: flex;
        justify-content: space-between;

        .logo-info {
          width: 49px;
          height: 49px;
          background-size: cover;
        }

        #logo-info-1 {
          background-image: url(../images/logo1.svg);
        }

        #logo-info-2 {
          background-image: url(../images/logo2.svg);
        }

        #logo-info-3 {
          background-image: url(../images/logo3.svg);
        }

        #text {
          width: 75%;
          div:first-child {
            font-family: ExpBlack;
            font-size: 13px;
            text-transform: uppercase;

          }

          div:last-child {
            font-family: ExtRegular;
            font-size: 14px;
          }
        }
      }

    }

    #text-h1 {
      width: 70%;
      font-family: ExpBlack;
      font-size: 36px;
      text-transform: uppercase;
      line-height: 50px;
    }

    .text-h2 {
      font-family: ExtRegular;
      font-size: 16px;
      line-height: 29px;
    }
  }
  #chat-logo{
    position: absolute;
    left: 92.5%;
    top: 50%;
    width: 85px;
    height: 85px;
    display: grid;
    place-content: center;
    background-color: #121214;
    border-radius: 100%;
    div{
      width: 35px;
      height: 35px;
      background-size: cover;
      background-image: url(../images/chat.svg);
    }
  }
}

#blog{
  height: 675px;
  .item-blog{
    width: 433px;
    .item-blog-text{
      >p:nth-child(1){
        font-family: ExtBold;
        font-size: 23px;
      }
      >p:nth-child(2){
        font-family: ExtRegular;
        font-size: 15px;
      }
      >div{
        display: flex;
        justify-content: space-between;
        p:first-child{
          font-family: ExtUltraBold;
          font-size: 14px;
          text-transform: uppercase;
        }
        p:last-child{
          font-family: ExtRegular;
          font-size: 11px;
          color: #8C8F96;
        }
      }
    }
  }
}
#items-blog{
  display: flex;
  justify-content: space-between;
}
.underline{
  text-decoration: underline #0ddbf8 2px;
}

footer{
  height: 371px;
  background-color: #121214;
  display: flex;
  justify-content: center;
  align-items: center;
  #footer-panel{
    width: 72%;
    height: 275px;
    color: white;
    display: flex;
    justify-content: space-between;
    >div{
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
  ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    list-style-position:outside;
    padding: 0;
    li{
      font-size: 15px;
      line-height: 28px;
    }
    li:first-child{
      font-family: ExpBlack;
      text-transform: uppercase;
    }
    li{font-family: ExtRegular;}
  }
  #footer-logo{
    width: 99px;
    height: 40px;
    background-image: url(../images/xwear.svg);
  }
  #logo-site{
    width: 140px;
    height: 24px;
    background-image: url(../images/readycode_logo.svg);
  }
}
.footer-column:nth-child(3){
  line-height: 15px;
  li:nth-child(2){
    font-family: ExtRegular;
    text-decoration: underline;
  }
  li:nth-child(3){
    font-family: ExtSemiBold;
  }
  li:nth-child(4), li:nth-child(6){
    font-family: ExpUltraBold;
    font-size: 12px;
    text-transform: uppercase;
  }
  img{
    width: 30px;
    height: 30px;
  }
}
.footer-column:nth-child(4){
  width: 274px;
  li>div{
    height: 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #707076;
  }
  input{
    background: none;
    border: none;
  }
  input:focus, button:focus{
    outline: none;
  }
  button{
    width: 29px;
    height: 29px;
    background: white;
    border: none;
    border-radius: 100%;
    display: grid;
    place-content: center;
  }
  li:nth-child(4){
    font-size: 12px;
    color: #707076;
    line-height: 18px
  }
  >div{
    color: #707076;
    font-family: ExtSemiBold;
    font-size: 11px;
    text-transform: uppercase;
    text-decoration: underline;
  }
}