main {
  display: flex;
  justify-content: center;
}

#container {
  width: 72%;
}

#path {
  height: 50px;
  font-size: 13px;
  font-family: ExtRegular;
  color: #8c8f96;
  display: flex;
  align-items: center;
  span {
    color: #121214;
  }
}


#profilePanel{
  #profile{
    display: flex;
  }
  .KabinetBtn{
    height: 42px;
    display: flex;
    align-items: center;
    gap: 10px;
    img{
      width: 19px;
      height: 19px;
    }
  }
  #Kabinet{
    width: 12.5vw;
    height: 100%;
    border: 1px solid #E9EAEE;
    border-radius: 5px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  #data{
    border-radius: 10px;
    padding: 25px;
  }
  >div>h4:last-child{
    color: gray;
  }
  input{
    background-color: #F9F9F9;
    border: none;
  }
}
